.outer {
    height: 100vh;
    text-align: center;
}

.outer:before{
    content:"";
    display:inline-block;
    height:100%;
    vertical-align:middle;
}

.inner {
    width: 66%;
    display:inline-block;
    vertical-align:middle;
}

.hidden {
    display: none;   
}

.form-label {
    font-size: 15px;
}

.transparent {
    background: transparent;
}

.transparent-border {
    background: transparent;
    border: solid 1px;
    border-color: #FFF;  
}

.transparent-border:hover {
    background: #FFF;
    color: #000000 !important;
}

.panel {
    margin: 15px;
    padding: 20px;
    border: solid 1px;
    border-color: #FFF;
}

.dropdown-content {
    margin-top: 4%;
}
